@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
}
body{
  max-width: 100%;
  width: 100%;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
.header {
  height: 18vh;
  max-width: 100%;
  position: relative;
  margin-top: 43px;
}
.shapeTriangle_red {
  transform: rotate(60deg);
	border-bottom: 38px solid #b6195d; 
	border-right: 65px solid transparent; 
	border-left: 65px solid transparent; 
  position: absolute;
  top: -25px;
  left: -50px;
}
.header p {
  font-size: 1.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: -15px auto 0 auto;
  text-align: center;
  letter-spacing: 3px;
}
.header h1 {
  margin: 0 auto 30px auto;
  text-align: center;
}
nav {
    width: 100%;
    display: none;
}
.wrapper {
    max-width: 100%;
}
.slider {
  position:relative;
  z-index: 1;
}
.slider img{
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;

}
.slick-dots li {
    display:inline-block;
    margin:0 1px;
}
.slick-dots button {
    color: transparent;
    display:block;
    border-radius:50%;
    background: rgb(173, 172, 172);
}
.items {
  width: 92%;
  border-radius: 0 1% 1% 0;
  background:rgb(217, 217, 217);
  margin-top: 42px;
  position: relative;
  margin-bottom: -50px;
  height: 800px;
}
.items img {
  border-radius: 20px;
}
.items h1 {
  padding-top: 30px;
}
.items_outline {
  margin-left: 30px;
}
.tinyTriangle_red{
  transform:rotate(-130deg);
	border-bottom: 70px solid #cc0000;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
  position: absolute;
  right: 20px;
  z-index: -1;
}
h1 {
  font-size: 3.8rem;
  margin: 5%;
  font-weight: 200;
  line-height: 75px;
}
.sentence {
  width: 90%;
  margin: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 32px;
  z-index: 2;
  font-size: 1.1rem;
}
.aboutInfo {
  display: flex;
}
.introduce {
   margin: 10% 0%;
 }
.introduce h1{
   margin-top: 60px 0%;
}
.animation {
  position: relative;
  width: 40%;
  max-width: 100%;
  margin: auto;
}
.animation img {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: change-img-anim 8s infinite;
  margin: 0 auto;
}
.blurTriangle_brown {
  width: 5%;
  transform: rotate(-20deg);
	border-bottom: 60px solid #8a4121;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
  border-radius: 30px;
  filter: blur(.4rem);
}
.animation img:nth-of-type(1) {
  animation: change-img-anim-first 6s infinite;
  animation-delay: 1s;
}
.animation img:nth-of-type(2) {
  animation-delay: 2s;
}
.animation img:nth-of-type(3) {
  animation-delay: 3s;
}
.animation img:nth-of-type(4) {
  animation-delay: 4s;
}
.animation img:nth-of-type(5) {
  animation-delay: 5s;
}
.animation img:nth-of-type(6) {
  animation-delay: 6s;
}
@keyframes change-img-anim-first {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
.arrow {
  position: relative;
  margin-left: 10px; 
}
.arrow::before {
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 18px; 
  width: 3px;
  height: 3px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}
.arrow::after {
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 1px;
  width: 20px; 
  height: 1px;
  background: white;
}
.more {
  margin: 50% auto;
  text-align: center;
  width: 86%;
  background: black;
  color: white;
  font-size: 0.7rem;
  padding: 12px;
  border-radius: 9999px;
}
.lineUP-contents .moreInfo p {
 font-size: 0.7rem;
}
.eventInfo {
  width: 100%;
  padding-bottom: 15px;
  background:rgb(217, 217, 217);
  z-index: 1;
  overflow: hidden;
}
.eventContents {
  display: flex;
  width: 90%;
  padding: 1.6%;
  background: white;
  border-radius: 2%;
  margin: -12px auto 40px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.eventContents:last-child {
  margin-bottom: -10px;
}
.blurTriangle_pink {
  width: 5%;
  transform: rotate(75deg);
	border-bottom: 50px solid #ab0f50;
	border-right: 90px solid transparent;
	border-left: 70px solid transparent;
  filter: blur(.5rem);
  position: absolute;
  left: -68px;
}
.eventInfo h1{
  font-size: 3.4rem;
  margin-top: -30px;
}
.eventContents p {
  width: 75%;
  margin: 8%;
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  line-height: 30px;
}
.event-p img {
  width: 100%;
  width: 150px;
  border-radius: 5%;
  margin: 5%;
}
.event-o {
  margin-left: 20px;
}
.city {
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  z-index: 3;
  margin-top: 34px;
}
.city img {
  width: 20px;
}
.youtubeInfo {
  background:rgb(217, 217, 217);
  margin: 10% 5%;
  border-radius: 5px;
  margin-bottom: -30%;
}
.youtubeInfo img {
  border-radius: 20px;
}
.double_slider img {
  border-radius: 20px;
}
.slide_youtube {
  margin:0 auto;
  background: no-repeat;
}
.slide_youtube img {
  width: 390px;
  height: 390px;
  padding: 10px;
  border-radius: 20px;
  object-fit: cover;
}
.slide_youtube .slick-slide {
transition: all .5s;
opacity: 0.5;
}
.slide_youtube .slick-slide.slick-center{
transform: scale(1);
opacity: 1;
}
.news {
  margin: auto ;
  padding-top: -150px;
}
.news p,.ch p {
  margin-left: 40px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.news h1 {
  margin-left: 40px;
}
.newsContents {
  display: flex;
}
.newsContents p {
  font-size: 0.8rem;
  margin-left: 40px;
}
.news img {
  width: 120px;
  margin: 40px auto 0 40px;
  border-radius: 5%;
  position: relative;
}
.new {
  text-align: center;
  border: solid 1px;
  width: 50px;
  border-radius: 9999px;
  position: absolute;
  left: 35%;
  margin-top: 3%;
}
.news .more {
  margin-top: 30px;
}
.info {
  width: 55%;
  position: absolute;
  left: 180px;
  margin-top: 50px;
  font-size: 1rem;
  line-height: 30px;
  font-family:monospace;
}
.playAnimation img{
  width: 80%;
  padding: auto;
}
.ch {
  width: 94%;
  background:rgb(217, 217, 217);
  border-radius: 2%;
  margin-left: 15%;
  position: relative;
  margin-top: -40%;
  padding-bottom: 100%;
}
.ch h1 {
  font-size: 3.3rem;
  margin-bottom: 5px;
  position: absolute;
  top: -20px;
  left: -70px;
}
.ch p {
  margin-bottom: 0;
  position: absolute;
  top: 80px;
  left: -18%;
}
.ch img {
  width: 90%;
  min-height: 218px;
  left: -8%;
  top: 135px;
  border-radius: 2%;
  position: absolute;
}
.ch .more {
  position: absolute;
  width: 90%;
  left: -8%;
  margin-top: 83%;
}
 .lineUP {
   max-width: 100%;
   height: 100%;
 }
 .lineUP h1 {
   font-size: 3.6rem;
   text-align: center;
 }
 .lineUP img {
  width: 100%;
  height: 280px;
  object-fit: cover;
 }
 .lineUP p,.lineUP .outline {
   font-family: Arial, Helvetica, sans-serif;
   width: 80%;
   margin: 10px auto;
   font-size: 1rem;
   line-height: 33px;
   letter-spacing: 5px;
 }
.seriesName {
   font-weight: bold;
 }
.moreInfo {
  margin-left: 50px;
  font-weight: bold;
  display: flex;
}
.arrow_bl {
  position: relative;
}
.arrow_bl::before {
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 27px; 
  width: 3px;
  height: 3px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}
.arrow_bl::after {
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 1px;
  width: 30px; 
  height: 1px;
  background: black;
}
.global {
  padding-top: 200px;
  margin-top: 60px;
}
.global .sub_sentence {
  margin: 0px auto 65px 5% ;
  width: 100%;
}
.country {
  display: flex;
  margin-left: 5%;
  margin-top: -30px;
}
 .global-store {
   margin-top: 50px;
   padding-left: 5%;
   background:rgb(217, 217, 217);
   height: 100%;
   position: relative;
 }
 .global-store h1 {
   text-align: left;
   margin-top: -35px;
   position: absolute;
 }
 .place {
   font-size: 1.6rem;
 }
 .place img {
   width: 35px;
   height: 35px;
   vertical-align: bottom;
   margin: 30px 6px 0 8px;
 }
 .global .more {
   width: 80%;
   background-color: #333;
   color: white;
   font-size: 0.7rem;
   text-align: center;
   margin: 10px auto;
   vertical-align: middle;
 }
 .malta, .paris, .canada {
   display: flex;
 }
 .malta img, .paris img, .canada img {
   width: 130px;
   height:  130px;
   border-radius: 5%;
   margin-top: -10px;
 }
 .place p {
   margin-left: 45px;
   font-size: 0.7rem;
   letter-spacing: 1px;
 }
 .right {
  color: #333;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.4em;
  border-left-color: currentColor;
  border-right: 0;
  margin: 80px auto;
  margin-right: 40px;
}
 .blurTriangle_red {
  width: 5%;
  transform: rotate(75deg);
	border-bottom: 50px solid #de4d4d;
	border-right: 90px solid transparent;
	border-left: 70px solid transparent;
  filter: blur(.5rem);
  position: absolute;
  right: 0;
}
 .blurTriangle_blue {
  width: 5%;
  transform: rotate(deg);
	border-bottom: 30px solid darkblue;
	border-right: 70px solid transparent;
	border-left: 70px solid transparent;
  filter: blur(.5rem);
  opacity: .5;
}
.blurTriangle_green {
  width: 5%;
  transform: rotate(178deg);
	border-bottom: 40px solid rgb(37, 116, 37);
	border-right: 60px solid transparent;
	border-left: 100px solid transparent;
  filter: blur(.3rem);
  opacity: .5;
}
.shapeTriangle_blue {
  transform: rotate(-45deg);
	border-bottom: 30px solid #1760a0; 
	border-right: 60px solid transparent; 
	border-left: 60px solid transparent; 
  position: absolute;
  width: 5%;
  right: -50px;
  margin-top: -30px;
}
@keyframes blurTriangle_blue {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.blurTriangle_blue, .blurTriangle_brown ,.blurTriangle_red{
  animation: 3s  blurTriangle_blue infinite,3s  blurTriangle_brown infinite,3s blurTriangle_red infinite;
}

body {
  font-size: 10px;
}
.plays {
  display: flex;
  margin-top: 80px;
}
.circle {
  position: relative;
  top: 90px;
  right: 80px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.inner {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: rotateAnim 10s linear infinite;
}
.inner:hover {
  animation-play-state: paused;
}
@keyframes rotateAnim {
  0% { transform: rotate(0deg); }
  50%{ transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
span {
  position: absolute;
  inset: 0;
  font-weight: 100;
}
.circle img {
  width: 70px;
  position: absolute;
  top: 20px;
  transform: rotate(30deg);
}
.slick-arrow{ z-index: 2; }
.double-slider{
  width: 100%;
}
.for_business img {
  max-width: 100%;
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
  margin-left: 10%;
}
.seriesName,.for_business .outline {
  width: 80%;
  font-size: 1rem;
  margin: 5px auto;
}
footer {
  text-align: center;
  height: 600px;
  background:rgb(217, 217, 217);  
}
.web_store  {
  margin-top: -8%;
}
.web_store p {
  font-size: 0.9rem;
  
}
.link_camera , .link_town {
  width: 80%;
  background: white;
  margin: 24px auto;
  padding: 1%;
  border-radius: 5px;
  height: 60px;
}
.link_camera a, .link_town a {
  text-decoration: none;
  color: black;
  margin-top: -3%;
}
.link_camera img , .link_town img {
  width: 40px;
}
.link_camera img {
  border-radius: 50%;
}
.link_town img {
  border-radius: 15%;
}
.sub_name, .sns_icon p{
  font-size: 1rem;
  margin: 10px auto 5px auto;
  font-family: 'Times New Roman', Times, serif;
}
.name {
  font-size: 2.3rem;
  margin: 0 auto 50px auto;
}
.copyRight, .web_store p {
  margin: -5px auto;
  font-family: 'Times New Roman', Times, serif;
}
.copyRight {
  letter-spacing: 1.5px;
}
.footer_name p {
  font-size: 0.4rem;
}
.sns_icon {
  margin: 0px auto;
}
.sns_icon img {
  width: 27px;
  mix-blend-mode: multiply;
  margin: auto 10px;
}
.sns_icon p {
  margin-bottom: 25px;
}
.border {
  border: solid .6px;
  color: gray;
  width: 80%;
  margin: auto;
  opacity: .4;
}
.right_arow {
  color: #333;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.3em;
  border-left-color: currentColor;
  border-right: 0;
  margin: -22px auto;
  margin-right: 10px;
}
              
              
.swiper{
  width:70%;
  overflow: hidden;
  margin: 10px;
  justify-content: space-between;
}
.swiper img{
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
}
.swiper_text{

  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.swiper_text .swiper-slide{
  display: flex;
  justify-content: center;
}

.card02 {
  overflow: hidden; 
}
.swiper {
    overflow: visible; 
  }
