@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
}
body{
  max-width: 100%;
}
.header {
  height: 18vh;
  max-width: 100%;
  position: relative;
  margin-top: 43px;
}
.shapeTriangle_red {
  transform: rotate(60deg);
	border-bottom: 38px solid #b6195d; 
	border-right: 65px solid transparent; 
	border-left: 65px solid transparent; 
  position: absolute;
  top: -20px;
  left: -50px;
}
.header p {
  font-size: 1.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: -15px auto 0 auto;
  text-align: center;
  letter-spacing: 3px;
}
.header h1 {
  margin: 0 auto 30px auto;
  text-align: center;
}
nav {
    width: 100%;
    display: none;
}
.wrapper {
    max-width: 100%;
}
.slider {
  position:relative;
  z-index: 1;

  overflow: hidden;
}
.slider img{
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
}
.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;
  margin: 20px auto 0 auto;
}
.slick-dots li {
    display:inline-block;
    margin:0 3px;
}
.slick-dots button {
    color: transparent;
    width: 12px;
    height:12px;
    display:block;
    border-radius:50%;
    background: rgb(173, 172, 172);
}
.slick-dots .slick-active button{
    background:#333;
}
.items {
  width: 92%;
  border-radius: 0 1% 1% 0;
  background:rgb(217, 217, 217);
  height: 1000px;
  margin-top: 0;
  position: relative;
}
.tinyTriangle_red{
  transform:rotate(-130deg);
	border-bottom: 70px solid #cc0000;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
  position: absolute;
  right: 20px;
  z-index: -1;
}

.slide-fashion {
    width:100%;
    overflow: hidden;
    object-fit: cover;
    margin:0 10px;
 }
 .slide-fashion img {
     width: 300px;
     height: 300px;
     border-radius: 2%;
     margin: 5px;
 }
 
h1 {
  font-size: 3.8rem;
  margin: 5%;
  font-weight: 200;
  line-height: 75px;
}
.sentence {
  width: 90%;
  margin: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 32px;
  z-index: 2;
  font-size: 1.1rem;
}
.blurTriangle_brown {
  width: 5%;
  transform: rotate(-20deg);
	border-bottom: 60px solid #660000;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
  border-radius: 30px;
  filter: blur(.4rem);
  opacity: .5;
}

 .introduce {
   margin: 10% 0%;
 }
 .animation {
  position: relative;
  width: 50%;
  max-width: 100%;
  margin: auto;
}
.animation img {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: change-img-anim 8s infinite;
  margin: 0 auto;
}
.animation img:nth-of-type(1) {
  animation: change-img-anim-first 7s infinite;
  animation-delay: 1s;
}
.animation img:nth-of-type(2) {
  animation-delay: 2s;
}
.animation img:nth-of-type(3) {
  animation-delay: 3s;
}
.animation img:nth-of-type(4) {
  animation-delay: 4s;
}
.animation img:nth-of-type(5) {
  animation-delay: 5s;
}
.animation img:nth-of-type(6) {
  animation-delay: 6s;
}
@keyframes change-img-anim-first {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
.more {
  margin: 50% auto;
  text-align: center;
  width: 86%;
  background: black;
  color: white;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 9999px;
}
.eventInfo {
  width: 100%;
  height: 100%;
  background:rgb(217, 217, 217);
}
.city {
  font-size: 1.2rem;
  text-align: center;
}
.eventContents {
  display: flex;
  width: 90%;
  height: auto;
  padding: 1.6%;
  background: white;
  border-radius: 2%;
  margin: 12px auto;
}
.eventContents p {
  width: 80%;
  margin: 8%;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 3px;
  line-height: 30px;
}
.event-f img {
  width: 100%;
  width: 170px;
  border-radius: 5%;
  margin: 5%;
}
.city img {
  width: 20px;
}
.eventInfo h1{
  padding: 10% 0%;
  margin-top: 30%;
}
.youtubeInfo {
  width: 90%;
  background:rgb(217, 217, 217);
  margin: auto;
}
.playAnimation img{
  width: 80%;
  padding: auto;
}
 .lineUP {
   height: auto;
   width: 100%;
 }
 .lineUP img {
  width: 100%;
 }
 .global-store {
   background-color:rgb(217, 217, 217);
 }
 .global-store img {
   width: 140px;
   margin: 5px;
   border-radius: 5%;
 }
 .place img {
   width: 30px;
 }
 .global-store .more {
   width: 80%;
   background-color: #333;
   padding: 9px;
   color: white;
   font-size: 0.8rem;
   text-align: center;
   margin: auto;
 }
 
 .blurTriangle_blue {
  width: 5%;
  transform: rotate(-70deg);
	border-bottom: 30px solid darkblue;
	border-right: 70px solid transparent;
	border-left: 70px solid transparent;
  filter: blur(.5rem);
  opacity: .5;
}
.blurTriangle_green {
  width: 5%;
  transform: rotate(178deg);
	border-bottom: 40px solid rgb(37, 116, 37);
	border-right: 60px solid transparent;
	border-left: 100px solid transparent;
  filter: blur(.3rem);
  opacity: .5;
}

