@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.header,body, .wrapper, .header,.animation,.animation img,.eventInfo{
  max-width: 100%;
  width: 100%;
}
.header {
  position: relative;
  margin-top: 43px;
} 
.header h1 {
  margin: 10px auto 30px auto;
}
.header p {
  font-size: 1.6rem;
  letter-spacing: 3px;
}
.header.HeightMin,.eventContents,footer .link_camera ,footer .link_town,.lineUP-contents img {
  filter:drop-shadow(1px 1px 1px gray);
}
.header.HeightMin,.dropNav {
  border-radius: 5px;
  position: fixed;
  z-index: 999;
  width: 97%;
  margin: 0 1.5%;
}
.header.HeightMin{
  height: 70px;
  animation: DownAnime 0.5s forwards;
}
.header.HeightMin h1 {
  font-size: 1.4rem;
  margin-left: -60%;
}
.header.HeightMin p,.header.HeightMin .shapeTriangle_red{
  display: none;
}
.dropNav {
  height: auto;
  top:-120%;
  transition: all 0.6s;
  padding-bottom: 5%;
}
@keyframes DownAnime{
from {
  transform: translateY(-170px);
  transition: .5s;
}
to {
  transform: translateY(0);
  transition: .5s;
}
}
.more,.lineUP-contents .moreInfo p,.infoAnimation p, .place p,.hidden_headerNav{
  font-size: 0.7rem;
}
.web_store p,.sns_p,.sub_title, .shops,.forBusiness,h2,h4,.newsContents p ,.items h2{
  font-size: .8rem;
}
.info_text p,.eventContents p,.info,.sub_name, .sns_icon p, .lineUP p {
  font-size: 1rem;
}
.info,.news p,.ch p, .lineUP_outline,.lineUP .details {
  font-size: 1.1rem;
}
.nav_name,.nav1,.city,.items .sub_title,.sentence, .business_outline   {
  font-size: 1.2rem;
}
.dropNav .title {
  font-size: 2rem;
}
.sub_title {
  margin: 25px auto 0 auto;
}
.dropNav.panelactive{
  top: 0;
}
.dropNav ul,.openNav,.openNav .span {
  z-index: 9999;
}
.nav_name {
  margin: 5px 10px 5px 30px;
}
.dropNav .animation img {
  width: 20px;
  margin: 10px 20px 10px 30px;
}
.dropNav .sns_icon img {
  margin: 0 5px;
}
.dropNav .border {
  width: 90%;
  margin: 5% auto;
}
.nav1 {
  margin: 3px 5px;
}
.info_nav .nav1 img{
  width: 125px;
  height: 110px;
}
.top,.nav2,.shops,.forBusiness {
  margin: 10px 30px;
}
.link_a {
  width: 100px;
  margin: 35px auto;
}
.nav_link {
  width: 30%;
  margin: -30px auto 0 35% ;
}
.nav_link .camera {
  margin-top: 26px;
}
.dropNav .nav_link img {
  width: 30px;
}
.left_arow  {
  border: solid  #333;
  border-color: transparent;
  border-width: 0.4em;
  border-left-color: currentColor;
  margin: 5px ;
}
.header p,.header h1,.openNav,img,.nav1,.nav2,.left,.hidden_headerNav li,.more,.moreInfo{
  cursor: pointer;
}
.openNav{
  position:fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height:50px;
}
.openNav .span{
  transition: all .4s;
  position: absolute;
  left: 12px;
  height: 2px;
  background: black;
  width: 21px;
}
.openNav .span:nth-of-type(1) {
top:9px; 
}
.openNav .span:nth-of-type(2) {
top:16px;
}
.openNav .span:nth-of-type(3) {
top:23px;
}
.openNav.active .span:nth-of-type(1) {
  top:9px; 
  transform: rotate(45deg);
}
.openNav.active .span:nth-of-type(2) {
  opacity: 0;
}
.openNav.active .span:nth-of-type(3){
  top:9px;
  transform: rotate(-45deg);
}
p,.sub_name,.copyRight {
  font-weight: 200;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sentence, .outline,.info{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper,.infoAnimation {
  overflow: hidden;
}
img {
  object-fit: cover;
  background-repeat: no-repeat;
  place-items: center;
}
img:hover {
  opacity: .6;
}
.items,.eventInfo, .youtubeInfo,.ch,.global-store,.slick-dots button,footer {
  background:rgb(240, 240, 240);
}
.header,.dropNav,.arrow::after, .arrow_bl::after,.eventContents,.infoAnimation,.link_camera , .link_town {
  background: #FFF;
}
#int-slider img,.eventContents,.event-p img,.youtubeInfo,.slide_loves img,.news img,.ch,.ch img,.malta img, 
.paris img, .canada img,.link_camera , .link_town,.for_business img,.link_town img,.info_nav .nav1 img ,.openNav .span {
  border-radius: 5px;
}
.hidden_headerNav, .hidden_headerNav li,.header,.header h1,.header p,.new,.slick-dots,.more,.city,footer,.dropNav .title, .dropNav .sub_title,.dropNav .sns_icon   {
  text-align: center;
}
.hidden_headerNav,.hidden_headerNav li,#int-slider,.eventContents,.circle,.arrowAnimation,#arrowAnim,
.newsContents,.country, .nav_link,.top,.shops, .forBusiness,.nav_block,.info_nav {
  display: flex;
}
.hidden_headerNav {
  justify-content: space-around;
  margin: -8% auto 6% auto;
  width: 300px;
  opacity: 0;
}
.hidden_headerNav li{
  text-decoration: none;
}
.border_left, .border_right {
  border: solid 1px;
  color: gray;
}
.shapeTriangle_red {
  transform: rotate(60deg);
	border-bottom: 38px solid #b6195d; 
	border-right: 65px solid transparent; 
	border-left: 65px solid transparent; 
  position: absolute;
  top: -25px;
  left: -50px;
}
.slider,.slick-dots {
    position:relative;
    z-index: 3;
}
.slider img{
    width: 100%;
    min-height: 500px;
}
.slider img:hover,#int-slider img:hover {
    opacity: .6;
}
.slick-dots li {
    display:inline-block;
}
.slick-dots button {
    color: transparent;
    display:block;
}
.tinyTriangle_red{
  transform:rotate(-130deg);
	border-bottom: 70px solid #cc0000;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent;
  position: absolute;
  margin-top: 10px;
  right: 20px;
  z-index: -1;
}
body .wrapper h1,.header h1 {
  font-size: 3.7rem;
  font-weight: 200;
  line-height: 75px;
  margin: auto auto 5% 9%;
}
.items h1 {
  padding-top: 10px;
}
.scroll_up_2 h1 {
  margin-top: -30px;
}
.items {
  width: 92%;
  border-radius: 0 1% 1% 0;
  margin: 42px auto -30px auto;
  position: relative;
}
.items_outline ,.items .sub_title {
  margin-left: 9%;
}
.items .sub_title {
  line-height: 30px;
}
.items h2 {
  margin: 20px auto 20px -70%;
}
#int-slider,#info-slider {
  width: 125%;
  margin-left: 5%;
}
#int-slider img {
  max-width: 310px;
  height: 310px;
  margin-left: 40px;
}
.info_text  {
  margin: auto auto 50px 60px;
  width: 310px;
}
h4 {
  margin: 10px auto;
  color: red;
}
.info_text p {
  line-height: 32px;
  letter-spacing: 2px;
  width: 240px;
}
.shapeTriangle_blue {
  transform: rotate(-35deg);
	border-bottom: 35px solid #1760a0; 
	border-right: 60px solid transparent; 
	border-left: 60px solid transparent; 
  position: absolute;
  width: 5%;
  right: -100px;
  margin-top: -30px;
}
.introduce {
  margin: 75px 0;
}
.sentence, .business_outline {
  width: 80%;
  z-index: 2;
}
.moreInfo {
  font-weight: bold;
  margin: 2% auto 4% 7%;
}
.moreInfo p {
  margin: 2% auto auto 10%;
}
.animation,.animation img,.slide_youtube,.sns_icon,.sns_icon img,.infoAnimation,.news,.border,.slide_loves   {
  margin: 0% auto;
}
.anime_block .animation {
  margin-top: -30px;
  position: relative;
  width: 40%;
  padding-bottom: 50%;
}
.animation img {
  position: absolute;
  opacity: 0;
  animation: change-img-anim 8s infinite;
}
.animation img:nth-of-type(1) {
  animation: change-img-anim-first 6s infinite;
  animation-delay: 1s;
}
.animation img:nth-of-type(2) {
  animation-delay: 2s;
}
.animation img:nth-of-type(3) {
  animation-delay: 3s;
}
.animation img:nth-of-type(4) {
  animation-delay: 4s;
}
.animation img:nth-of-type(5) {
  animation-delay: 5s;
}
.animation img:nth-of-type(6) {
  animation-delay: 6s;
}
@keyframes change-img-anim-first {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 1;}
  100%{ opacity: 1;}
}
@keyframes change-img-anim {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
.more {
  margin: 4% auto;
  width: 86%;
  color: #FFF;
  padding: 12px;
  border-radius: 9999px;
}
.more ,.arrow_bl::after {
  background: black;
}
.anime_block .more {
  margin-bottom: -3%;
}
.arrow {
  position: relative;
  margin-left: 5%; 
}
.arrow::before, .arrow_bl::before{
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 18px; 
  width: 3px;
  height: 3px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}
.arrow::after, .arrow_bl::after  {
  content: " ";
  margin: auto;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 1px;
  width: 20px; 
  height: 1px;
}
.introduce .moreInfo, .for_business .moreInfo ,.newsContents p,.sentence, .business_outline {
  margin-left: 10%;
}
.arrow_bl {
  position: relative;
}
.arrow_bl::before {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.eventInfo {
  padding-bottom: 60px;
  z-index: 1;
  margin-bottom: 60px;
}
.eventInfo h1{
  margin: 0px auto -20px 8%;
  padding-top: 40px;
}
.eventInfo .sentence {
  margin: 80px auto auto 8%;
}
.eventContents {
  width: 88%;
  padding: 1%;
  margin: -10px auto 30px auto;
  position: relative;
  z-index: 1;
  height: 30%;
}
.event-p img,.event-o p {
  width: 100%;
  width: 180px;
  margin: 6%;
}
.event-o p{
  width: 70%;
  margin: 10% 15%;
  line-height: 26px;
  letter-spacing: 3px;
}
.event_box h1 {
  height: 5px;
}
.city {
  position: relative;
  z-index: 3;
  margin-top: 34px;
}
.city img {
  width: 20px;
}
.youtubeInfo {
  margin: 5%;
  padding-bottom: 3%;
}
.youtubeInfo h1 {
  margin-top: 20px;
}
body {
  font-size: .6rem;
}
.circle,.inner,.link_camera img,.slick-dots button  {
  border-radius: 50%;
}
.plays h1 {
  padding-top: 50px;
  height: 2px;
}
.circle {
  position: relative;
  top: -50px;
  left: 80%;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
}
.youtube_block1 .sentence {
  margin-top: 10%;
}
.inner,.circle span,.circle img {
  position: absolute;
}
.inner {
  width: 20px;
  height: 20px;
  animation: rotateAnim 10s linear infinite;
}
.inner:hover {
  animation-play-state: paused;
}
@keyframes rotateAnim {
  0% { transform: rotate(0deg); }
  50%{ transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
.circle span {
  inset: 0;
  font-weight: 100;
}
.circle img {
  width: 70px;
  top: 20px;
  transform: rotate(30deg);
}
#sliderLoves {
  margin: -100px auto auto 40px;
}
.slide_loves img {
  width: 310px;
  height: 310px;
  margin-left: 20px;
}
.slide_loves .slick-slide {
  transition: all .5s;
}
#sen-slider .info_text {
  width: 300px;
}
.slide_youtube img {
  width: 390px;
  height: 390px;
  padding: 10px;
  border-radius: 16px;
}
.slide_youtube .slick-slide {
  transition: all .5s;
  opacity: 0.5;
}
.slide_youtube .slick-slide.slick-center{
  transform: scale(1);
  opacity: 1;
}
.arrowAnimation {
  margin-bottom: 5px;
}
#arrowAnim ,.arrows{
  width: 5px;
  height: 5px;
  justify-content: center;
  align-items: center;
}
.arrows {
  border: 1px solid;
  border-color: black transparent transparent black;
  transform: rotate(135deg);
}
.arrowSliding {
  margin: 3% auto auto 10%;
  position: absolute;
  -webkit-animation: slide 2s linear infinite; 
          animation: slide 2s linear infinite;
}
.delay1 {
  -webkit-animation-delay: .5s; 
    animation-delay: .5s;
}
.delay2 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay3 {
  -webkit-animation-delay: 1.5s; 
    animation-delay: 1.5s;
}
@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(1vw); }	
   20% { opacity:.5; transform: translateX(3vw); }	
   80% { opacity:.8; transform: translateX(5vw); }	
  100% { opacity:1; transform: translateX(6vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(1vw); }	
   20% { opacity:.5; transform: translateX(3vw); }	
   80% { opacity:.8; transform: translateX(5vw); }	
  100% { opacity:1; transform: translateX(6vw); }	
}
h3 {
  margin-left: 15%;
}
.infoAnimation {
  width: 85%;
  padding: 0.5%;
  border-radius: 99px;
}
.infoAnimation p{
  animation: flowing 15s linear infinite;
  transform: translate(100%);
  color: black;
  margin-top: 5px;
  white-space: nowrap
}
@keyframes flowing {
  100% {
    transform: translate(-100%);
  }
}
.news {
  padding-top: -150px;
}
.news p,.ch p {
  margin: auto auto 10px 40px;
}
.news img {
  width: 120px;
  margin: 40px auto 5px 10%;
  position: relative;
}
.new {
  border: solid 1px;
  width: 50px;
  border-radius: 999px;
  position: absolute;
  left: 200px;
  margin-top: 3%;
}
.news .more {
  margin-top: 30px;
}
.info {
  width: 50%;
  position: absolute;
  left: 200px;
  margin-top: 50px;
  line-height: 30px;
  font-family:monospace;
}
.playAnimation img{
  width: 80%;
  padding: auto;
}
.ch {
  margin: 40px 0 auto 15%;
  width: 94%;
  position: relative;
  padding-bottom: 100%;
}
.ch h1,.ch p,.ch img,.ch .more{
  position: absolute;
}
.ch h1 {
  font-size: 3.4rem;
  left: -85px;
}
.ch p {
  margin-bottom: 0;
  top: 80px;
  left: -18%;
}
.ch img {
  width: 90%;
  min-height: 218px;
  left: -8%;
  top: 135px;
  z-index: 2;
}
.ch .more {
  margin-left: -8%;
  width: 90%;
  bottom: 10%;
}
 .lineUP-contents{
   height: 500px;
   overflow: hidden;
 }
 .lineUP_box img {
   width: 100%;
   height: 280px;
   transition: transform .6s ease;
 }
 .lineUP_box img:hover {
   transform: scale(1.1);
}
 .lineUP_outline,.lineUP .details{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 86%;
   margin: 20px auto;
   line-height: 32px;
   letter-spacing: 3px;
 }
 .lineUP p {
   margin: 3% auto 4% 7%;
   font-weight: bold;
 }
.global-store {
  margin-top: 50px;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
}
.global-store .scroll_up h1,.global-store .scroll_up_2 h1, .global-store .scroll_up_3 h1,.global-store .sub_sentence{
  position: absolute;
}
.global-store .scroll_up h1{
  margin-top: -30px;
}
.global-store .scroll_up_2 h1{
  top: 40px;
}
.global-store .scroll_up_3 h1{
  top: 110px;
}
.global {
  padding-top: 300px;
  margin-left: 3.5%;
}
.global-store .sub_sentence {
  margin: 0px auto 100px 10%;
  top: 220px;
}
.country {
   margin: -30px auto auto 5%;
}
 .place {
   font-size: 1.6rem;
 }
 .place img {
   width: 35px;
   height: 35px;
   vertical-align: bottom;
   margin: 60px 6px 0 8px;
 }
 .global .more {
   width: 90%;
 }
 .malta, .paris, .canada {
   display: flex;
   overflow: hidden;
   height:  130px;
 }
 .malta img, .paris img, .canada img {
   width: 130px;
   height:  130px;
   margin-top: 10px;
   transition: transform .6s ease;
 }
 .malta img:hover, .paris img:hover, .canada img:hover {
  transform: scale(1.1);
 }
 .place p {
   margin-left: 45px;
 }
 .right, .right_arow  {
  width: 0;
  border: solid  #333;
  border-color: transparent;
  border-width: 0.4em;
  border-left-color: currentColor;
  border-right: 0;
  margin: 80px 40px 80px auto;
}
.right_arow {
  margin: -13px 10px auto auto;
}
.blurTriangle_red, .blurTriangle_blue, .blurTriangle_green,.blurTriangle_pink,.blurTriangle_brown{
  width: 5%;
  filter: blur(.5rem);
}
.blurTriangle_pink {
  transform: rotate(75deg);
	border-bottom: 50px solid #ab0f50;
	border-right: 90px solid transparent;
	border-left: 70px solid transparent;
  position: absolute;
  left: -68px;
}
 .blurTriangle_red {
  transform: rotate(75deg);
	border-bottom: 50px solid #de4d4d;
	border-right: 60px solid transparent;
	border-left: 70px solid transparent;
  position: absolute;
  right: 0;
}
 .blurTriangle_blue {
  transform: rotate(30deg);
	border-bottom: 70px solid darkblue;
	border-right: 50px solid transparent;
	border-left: 30px solid transparent;
}
.blurTriangle_green {
  transform: rotate(178deg);
	border-bottom: 60px solid rgb(37, 116, 37);
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}
.blurTriangle_brown {
  transform: rotate(-20deg);
	border-bottom: 30px solid #8a4121;
	border-right: 60px solid transparent;
	border-left: 30px solid transparent;
  border-radius: 30px;
}
@keyframes blurTriangle_blue {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}
.blurTriangle_blue, .blurTriangle_brown ,.blurTriangle_red{
  animation: 3s  blurTriangle_blue infinite,3s  blurTriangle_brown infinite,3s blurTriangle_red infinite;
}
.for_business img {
  width: 80%;
  margin: 40px auto 40px 10%;
}
.for_business img:hover {
  transition: transform .6s ease;
  transform: scale(1.1);
}
.for_business_p {
  margin: -6% auto 4% 10%;
  font-size: 0.9rem;
}
.for_business_p {
  margin: -10px auto 30px 10%;
  font-weight: bold;
}
footer {
  height: 600px; 
}
footer .link_camera ,footer .link_town {
  width: 80%;
  margin: 0px auto 25px auto;
  height: 60px;
}
.link_town  {
  margin: 25px auto 45px auto;
}
.link_camera a, .link_town a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.link_camera img , .link_town img {
  width: 35px;
  margin: 10px auto -13px auto;
}
.sub_name, .sns_icon p{
  margin: 30px auto 0 auto;
}
.name {
  font-size: 2.3rem;
  margin: 0 auto 50px auto;
}
.copyRight, .web_store p {
  margin: 10px auto;
}
.sns_icon img {
  width: 27px;
  margin: auto 10px;
  mix-blend-mode: multiply;
}
.sns_p,.sns_icon p,.border {
  margin-bottom: 25px;
}
.border {
  border: solid .6px;
  color: gray;
  width: 80%;
  opacity: .4;
}
.scroll_up, .scroll_up_2, .scroll_up_3 {
  transition: 0.6s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}
.scroll_up_2 {
  transition: 0.9s ease-in-out;
}
.scroll_up.on,.scroll_up_2.on,.scroll_up_3.on {
  transform: translateY(0);
  opacity: 1.0;
}

@media screen and (max-width:380px) {
  .slider img {
    height: 60vh;
  }
  body .wrapper h1 {
    font-size: 2rem;
    height: 50px;
  }
  .eventContents img {
    width: 100px;
    margin-top: 30px;
  }
  .sentence,.outline,.info,.event-o p,.sub_sentence {
    font-size: .8rem;
  }
  .header.HeightMin h1 {
    margin-left: -22%;
  }
  .circle {
    left: 60%;
    margin-top: 20px;
  }
  .slide_youtube img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  .ch {
    height: 480px;
  }
  .ch_outline .scroll_up h1 {
    margin-left: 15%;
  }
  .new, .info {
    left: 170px;
  }
}
@media screen and (min-width:771px) {  
  .header {
    height: 175px;
  }
  .hidden_headerNav {
    opacity: 100%;
    color: #333;
    margin-top: -10px;
  }
  .eventInfo, .youtube_contents,.news_block,.lineUP_box,.lineUP-contents img,
  .global,.business_contents,.web_block    {
    display: flex;
  }
  .openNav {
    display: none;
  }
  .header.HeightMin{
    height: 86px;
    margin-top: 0;
  }
  .HeightMin .hidden_headerNav{
    margin: -90px 50px auto auto;
  }
  .slider img {
    margin: .5%;
    border-radius: 5px;
    transition: 1s;
    width: 90vw;
    height: 90vh;
  }
  .slider img:hover {
    overflow: hidden;
  }
  .items {
    margin-top: 10%;
  }
  body .wrapper h1 {
    font-size: 2.6rem;
    height: 50px;
  }
  .items h2 {
    position: absolute;
    top: -100px;
    right: 55%;
  }
  .contents {
    position: absolute;
    width: 30%;
  }
  #sub_slider {
    position: relative;
    right: -30%;
    width: 55%;
    margin-left: 20px;
    top: -20px;
  }
  #sub_slider img ,.slide_loves img {
    min-width: 230px;
    min-height: 230px;
  }
  #sliderLoves {
    margin: -50% 6% 6% 40px;
  }
  .slide_loves img {
    margin-right: 0px;
  }
  .contents .sub_title,.info_text p, .sentence, .news p,.info{
    font-size: .8rem;
    line-height: 25px;
    position: static;
  }
  .sentence {
    width: 60%;
  }
  .animation img{
    margin: -80% 0 0 90%;
    width: 220px;
    z-index: -1;
  }
  .introduce h1 {
    margin-top: -50px;
  }
  .introduce .more {
    width: 40%;
    margin-bottom: 80px;
  }
  .eventInfo {
    height: 100%;
    padding-bottom: 80px;
  }
  .event_box {
    margin-top: 25%;
  }
  .city {
    margin-right: 10%;
    text-align: right;
  }
  .eventContents {
    margin: -10px 5% 30px auto;
    height: 25%;
  }
  .youtubeInfo {
    margin: 30px 2%;
    padding-bottom: 2%;
  }
  .youtubeInfo h1 {
    margin-top: -15%;
  }
  .youtube_block1 {
    width: 45%;
    margin-top: 160px;
  }
  .youtube_block2  {
    width: 45%;
    margin-top: 100px;
  }
  .youtubeInfo .sentence {
    margin: -25% auto 10% 10% ;
  }
  .youtubeInfo .more {
    width: 30%;
    margin: -10% auto 10% 3%;
  }
  .slide_youtube img {
    width: 300px;
    height: 300px;
  }
  .circle {
    margin-top: 40px;
    left: 40%;
  }
  .youtube_block1 h1 {
    height: 80px;
  }
  .youtube_block1 .sentence, .youtubeInfo .more{
    margin: 5% auto;
  }
  .inner {
    width: 18px;
    height: 18px;
  }
  .arrowAnim {
    margin: 0 5% 15% -10%;
  }
  h3 {
    margin-left: 30%;
  }
  .news h1 {
    margin: 10% auto auto 3%;
  }
  .news p {
    margin-left: 3%;
  }
  .news_block {
    width: 98%;
  }
.new {
    position: relative;
    height: 20px;
    right: 50%;
    padding: 1%;
}
.newsContents img {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 3%;
}
.info {
  margin-left: 32%;
}
.wrapper .news .more {
  width: 30%;
  margin-right: 5%;
  margin-top: -240px;
}
body .ch {
  margin: 35% 10% auto 0;
  padding-bottom: 50%;
}
.ch_outline {
  position: absolute;
  top: -45px;
  left: 20%;
}
.newsContents,.ch_outline,.ch .scroll_up {
  width: 35%;
}
.ch_outline p{
  position: absolute;
  top: 200px;
  left: -50%;
}
.ch_block {
  width: 60%;
  position: absolute;
  right: -20%;
  top: -160px;
}
.ch .more{
  width: 30%;
  left: 20%;
}
.ch img {
  height: 260px;
  position: absolute;
}
.lineUP_box {
  margin: auto 5% ;
  flex-wrap: wrap;
}
.lineUP-contents {
  width: 240px;
  margin: 5% 2%;
}
.lineUP-contents img {
  width: 240px;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.lineUP-contents .details {
  margin-top: 0;
}
.lineUP .moreInfo p {
  margin-left: 15px;
}
.lineUP_block .moreInfo .arrow_bl {
  margin: -12px;
}
.global {
  flex-wrap: wrap;
}
.ch_outline p,.sub_sentence,.lineUP-contents .details {
  font-size: .8rem;
}
.malta img,.paris img, .canada img {
  width: 100px;
  height: 100px;
}
.place {
  font-size: 1rem;
  margin-top: -30px;
}
.country .right {
  display: none;
}
.global .more {
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 300px;
}
.for_business {
  padding-bottom: 10%;
}
body .ch,.business_contents,.web_block,.lineUP_box   {
  width: 90%;
}
.for_business img {
  width: 40%;
}
.forBusiness_outline {
  width: 45%;
  margin-left: 50%;
  margin-top: -25%;
}
.web_block {
  margin: 4.5% 5%;
}
.web_store,.sns_block{
  width: 45%;
  margin: auto;
}
.slide_youtube .slick-slide {
	transform: scale(0.8);
	transition: all .5s;
}
.slide_youtube .slick-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}
body .ch h1 {
  font-size: 5rem;
  width: 300px;
}
.ch p {
  margin: 0 auto -20% 35%;
}
footer {
  height: auto;
  padding-bottom: 8%;
}
@media screen and (min-width:1021px) {
  .animation img {
    margin: -70% 0 0 95%;
    width: 300px;
  }
  .for_business {
    padding-bottom: 15%;
  }
  .ch {
    padding-bottom: -10%;
  }
  .ch img {
    width: 100%;
    height: 400px;
    margin: 0 -50% auto -15%;
  }
  .web_block {
    width: 80%;
    margin: 30px auto;
  }
}
}
  