@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c";
}
nav {
    display: none;
}
.wrapper {
    max-width: 100%;
}
.slider {
  position:relative;
  z-index: 1;
  height: 100vh;
}
.slider img{
    width: 100%;
    height: 66vh;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;
  margin: 50px 0 0 0;
}
.slick-dots li {
    display:inline-block;
    margin:0 3px;
}
.slick-dots button {
    color: transparent;
    width: 12px;
    height:12px;
    display:block;
    border-radius:50%;
    background-color: rgb(218, 214, 214);
}

.slick-dots .slick-active button{
    background:#333;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a:hover,
a:active{
  text-decoration: none;
}
.wrapper{
  position: relative;
}
.slide-apparel {
    width:94%;
    margin:0 auto;
 }
 .slide-apparel img {
     width:400px;
     height: 400px;
     height:auto;
     border-radius: 2%;
 }
 .slide-apparel .slick-slide {
     margin:0 10px;
 }
 
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 

 
 
 
 
 body{
   background:#eee;
 }
 
 h2,p {
     text-align:center;
     padding:20px;
 }

 a{
   color: #333;
 }
 
 a:hover,
 a:active{
   text-decoration: none;
 }